*, *::after, *::before {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: E2E2EE;
}

.hidden {
    display: none !important;
}

div.narrow_down_container {
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    min-height: 100vh;
    background-color: #D2EDCA;
}

header {
    display: grid;
    grid-template-columns: 400px auto;
    height: 100px;
    width: 100%;
}

div.buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 400px;
    height: 100%;
}

button.buttons__btn {
    width: 130px;
    height: 30px;
}

div.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

div.main__placement {
    width: 85%;
    min-height: 300px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

section.questions__container:nth-of-type(2n) {
    background-color: rgba(0,0,0,0.2);
}

section.questions__container {
    padding: 4px;
}

div.questions__gridder {
    display: grid;
    grid-template-columns: 50px auto;
}

div.questions__checkbox-container {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    padding: 10px 50px; 
}

div.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
}

div.modal__window {
    display: grid;
    grid-template-rows: 40px auto 40px;
    padding: 15px;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: #D2EDCA;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
}


div.modal__header-container {
    height: 40;
    display: flex;
    justify-content: center;
    align-items: center;

}

h2.modal__header {
    text-align: center;
}

div.modal__content-container {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.modal__buttons-container {
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}